<div class="component-wrapper">
    <h2>My Profile</h2>

    <h1>probably delete this component</h1>

    <form class="" #formData="ngForm" (ngSubmit)="onSubmit(formData)">

        <div><label>First Name:</label><input [(ngModel)]="user.firstName" placeholder="firstName" name="firstName"/></div>
        <div><label>Last Name:</label><input [(ngModel)]="user.lastName" placeholder="lastName" name="lastName"/></div>
        <div><label>Email:</label><input [(ngModel)]="user.userEmail" placeholder="userEmail" name="userEmail"/></div>
        <div><label>Create password:</label><input [(ngModel)]="user.password" placeholder="Create password" name="userPassword"/></div>

        <div class="button-wrapper">
        <button class="btn" type="submit">Save</button>
        </div>

    </form>

</div>

