header {
    display: flex;
    /* background-color:rgb(146, 162, 168); */
    color: #333;
    margin: 0;
    padding: 1.6em;
    justify-content: space-between;
}

h1 {
    margin: 0;
    padding: 0;
}
