<header>
    <h1>Business Cards</h1>

    <div class="button-wrapper">
        <button class="btn btn-primary" routerLink="/cardlist" routerLinkActive="active" *ngIf="userSignedIn()">My Cards</button>
        <button class="btn btn-primary" *ngIf="userSignedIn()" (click)="gotoSearch()">Search</button>
        <button class="btn btn-primary" routerLink="/profile" routerLinkActive="active" *ngIf="userSignedIn()">My Profile</button>
        <button class="btn btn-primary" (click)="signOut()" *ngIf="userSignedIn()">Log Out</button>
    </div>

</header>
 