header {
    display: flex;
    color: #333;
    margin: 0;
    padding: 1.6em;
    justify-content: space-between;
}

h1 {
    margin: 0;
    padding: 0;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
