<header>
    <h1>Business Cards</h1>

<div class="button-wrapper">
    <button class="btn btn-primary" (click)="displayTest()">Signed in?</button>
    <button class="btn btn-primary" routerLink="/login" routerLinkActive="active">Log In</button>
    <button class="btn btn-primary" (click)="logOut()">Log Out</button>
    <button class="btn btn-primary" routerLink="/cardlist" routerLinkActive="active">My Cards</button>
    <button class="btn btn-primary" routerLink="/profile" routerLinkActive="active">My Profile</button>
</div>

<!--
<input type="text" id="searchField" placeholder="search" #searchContent/>
<button (click)="searchCards(searchContent)">Search</button>
-->

<!--
<button (click)="showSearch()">search icon</button>
<app-search-card *ngIf="showSearch()"></app-search-card>
-->

</header>
 
 

<!--




<button class="btn btn-primary" routerLink="/logout" routerLinkActive="active">Log Out</button>
-->
 
<!--
<header *ngIf="signedIn()"></header>
-->