
  .component-wrapper {
    display: flex;
    margin: 2em auto;
    flex-direction: column;
    position: relative;
    width: 90%;
    border: 1px solid #999;
    border-radius: 4px;
    padding: 0.5em 0.5em 1em 0.5em;
  }
  
  .button-wrapper {
    display: flex;
    justify-content: space-between
  }
  
  
  textarea {
    width: 100%;
    resize: none;
  }
  
  

  
  

.component-wrapper {
    width: 460px;
}

.component-wrapper > div {
    display: flex;
    width: 90%;
    margin: 1em auto 0 auto;
    justify-content: flex-end;
}

form {
    justify-content: center;
    margin-bottom: 1em;
}

form > div {
  display: flex;
  justify-content: center;
  margin: 0.5em 0;
}

input {
  display: flex;
  width: 80%;
}
