<div class="component-wrapper">
    <h2>Login</h2>
    <form #formData="ngForm" (ngSubmit)="onSubmit(formData)">
        <div>
            <input id="userEmail" type="email" (ngModel)="email" name="email" placeholder="Email address" required #userEmail/>
        </div>
        <div>
            <input type="password" (ngModel)="password" name="password" placeholder="Password" required/>
        </div>
        <div>
            <button type="submit" [disabled]="!formData.valid" class="ui button">Log in</button>
        </div>
    </form>


    <div class="btn-wrap">
        <button (click)="loginGoogle()" class="ui button">Log in With Google</button>
    </div>

    <div class="btn-wrap">
        <a routerLink="/signup" routerLinkActive="active">No account? <strong>Create one here</strong></a>
    </div>

    <div class="btn-wrap">
        <a>Forgot your password?<br>Fill in your email address and</a>
        <button class="btn-link" (click)="resetPassword(userEmail)">Click here</button>
    </div>

    <div id="msg-cont"><p id="msg"></p></div>

</div>

