<div class="component-wrapper">
    <h2>Login</h2>
    <form #formData="ngForm" (ngSubmit)="onSubmit(formData)">
        <div>
            <input type="email" (ngModel)="email" name="email" placeholder="Email address" required/>
        </div>
        <div>
            <input type="password" (ngModel)="password" name="password" placeholder="Password" required/>
        </div>
        <div>
            <button type="submit" [disabled]="!formData.valid" class="ui button">Log in</button>
        </div>
    </form>

    <div>
        <button (click)="loginGoogle()" class="ui button">Login With Google</button>
    </div>
    <div>
        <a routerLink="/signup" routerLinkActive="active">No account? <strong>Create one here</strong></a>
    </div>
</div>
