
.login-wrapper {
    width: 460px;
}

.login-wrapper form {
    justify-content: center;
    margin-bottom: 1em;
}

.login-wrapper form > div {
    display: flex;
    justify-content: center;
    margin: 0.5em 0;
}

.login-wrapper input {
    display: flex;
    width: 80%;
    
}

.login-wrapper h2,
.login-wrapper > div {
    width: 90%;
    display: flex;
}

.login-wrapper > div {
    margin: 1em auto 0 auto;
    justify-content: flex-end;
}

.login-wrapper h2 {
    justify-content: flex-start;
    margin: 1em auto;
}

/*


    margin: 2em auto;
    border: 1px solid #777;
    border-radius: 4px;
    padding: 0.5em;




.container {
    outline: 3px solid red;
}

.login-container {
    display: flex;
    position:relative;
    width: 100%;
    justify-content: center;
}

.login-form {
    box-sizing: border-box;
    position: absolute;
    background-color: #fff;
    top: 1em;
    padding: 6em 2em 1em 2em;
    min-width: 480px;
    border: 1px solid #555;
    border-radius: 8px;
    box-shadow: 0 0 18px 1px rgba(50,50,50,0.5);
    z-index: 99;
}

.closeBtn {
    position: absolute;
    top: 2em;
    right: 2em;
}

.signInBtn {
    margin-top: 1em;
}

.loginBtn {
    margin-top: 1.2em;
}

*/