.no-match {
      display: flex;
      margin-top: 1em;
      border: 1px solid red;
    border-radius: 4px;
  }

  .no-match p {
      text-align: center;
      color: red;
  }
  
.search-component-wrapper {
    width: 460px;
    padding: 1em 2em;
}

.button-wrapper {
    margin-top: 1em;
}

.button-close-wrapper {
    width: 36px;
    height: 36px;
    position: absolute;
    right: 1em;
}

button.close-btn {
    width: 100%;
    margin: 0;
}

p {
    width: 80%;
    margin: 0.5em auto 1em;
}

  span.close::before, span.close::after {
    display: block;
    position: absolute;
    width: 6px;
    height: 26px;
    content: '';
    background-color: #fff;
    border-radius: 2px;
    top: 15%;
    left: 45%;
    transform-origin: 50% 50%;
  }
  span.close::before {
    transform: rotate(45deg);
  }
  span.close::after {
    transform: rotate(-45deg);
  }
  