<div class="component-wrapper">

<h2>CardList</h2>

<button routerLink="/newcard" routerLinkActive="active">Add New Card</button>

<ul class="list">
    <li *ngFor="let card of card$ | async" [class.selected]="card === selectedCard">
        <a [routerLink]="['/card/', card.id]">
            <span class="name">{{ card.firstName }} {{ card.lastName }}</span>
            <span class="phNum">{{ card.phone }}</span>
            <span class="orgName">{{ card.organizationName }}</span>
            <span class="emailAdd">{{ card.email }}</span>
        </a>
    </li>
</ul>

<button>View as Cards</button>
<button>View as List</button>

</div>


<app-search-card></app-search-card>




<!-- 

               <span class="badge">{{ card.id }}</span>{{ card.displayName }}




<ul class="ui cards">
<li class="card" *ngFor="let card of card$ | async" [class.selected]="card === selectedCard">
        <div class="content">
        <a class="ui card" [routerLink]="['/card', card.id]">
            <div class="content">
            <div class="header">{{card.firstName}} {{card.lastName}}</div>
            <div class="meta">
                <span class="category">{{card.organizationName}}</span>
            </div>
            <div class="description">
                <p>{{card.displayName}}</p>
                <p>{{card.email}}</p>
                <p>{{card.phone}}</p>
            </div>
            </div>
            <div class="extra content">
            <div class="right floated author">
                <img class="ui avatar image" src=""> Matt
            </div>
            </div>
        </a>
        </div>
</li>
</ul>
-->




