.list a,
.component-wrapper,
.button-wrapper {
  display: flex;
}





.component-wrapper {
  margin: 2em auto;
  flex-direction: column;
  position: relative;
  width: 90%;
  border: 1px solid #999;
  border-radius: 4px;
  padding: 0.5em 0.5em 1em 0.5em;
}

.button-wrapper {
  justify-content: space-between
}

.addBtn {
  margin-left: 1.4em;
}

ul.list {
  flex-direction: column;
}

.list li {
  border: 1px solid #999;
  border-radius: 4px;
  margin: 0.5em 1em 0.5em 0;
  padding: 0.5em;
}

.list li:hover {
  background-color:#eee;
}

.list a {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  text-decoration: none;
  width: 100%;
}

.list span {
  color: #333;
  margin: 0 0.5em;
}

.list span.name {
  font-size: 1.2em;
  width: 45%;
  min-width: 200px;
}
.list span.orgName {
  width: 45%;
  min-width: 200px;
}
.list span.phNum {
  text-align: right;
  width: 45%;
  min-width: 160px;
}
.list span.emailAdd {
  text-align: right;
  width: 45%;
  min-width: 260px;
}



.cards li.selected {
    background-color: #CFD8DC;
    color: white;
}
.cards li.selected:hover {
    background-color: #BBD8DC;
}

.bottom-wrapper {
  width: 50%;
  margin: auto;
}

  