
.component-wrapper {
  flex-direction: row;
  flex-wrap: wrap;
}

li {
  position: relative;
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 4px;
  padding: 0.5em;
  box-shadow: 0 0 8px 1px rgba(50,50,50,0.2);
}

li:hover {
  background-color:#BC6AED;
  transform: scale(1.05);
  transition: all 0.3s;
}

span {
  color: #333;
  margin: 0 0.5em;
}


.list a {
  display: flex;
}

.addBtn {
  justify-content: flex-start;
}

ul.list {
  flex-direction: column;
}

.list li {
  margin: 0.5em 1em 0.5em 0;
}

.list a {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.list span.name {
  font-size: 1.2em;
  width: 45%;
  min-width: 200px;
}
.list span.orgName {
  width: 45%;
  min-width: 200px;
}
.list span.phNum {
  text-align: right;
  width: 45%;
  min-width: 160px;
}
.list span.emailAdd {
  text-align: right;
  width: 45%;
  min-width: 260px;
}

.bottom-wrapper {
  width: 50%;
  margin: auto;
}

ul.cards {
  flex-direction: row;
  flex-wrap: wrap;
}



.cards li {
  width: 340px;
  margin: 0.5em;
}

.cards a {
  display: flex;
  flex-direction: column;
}

.cards span {
  display: flex;
  margin: 0.2em 0;

}

.cards span:first-child {
  font-size: 1.4em;
}
