<div class="component-wrapper">
    <h2>Create Account</h2>
    
    <form class="" #formData="ngForm" (ngSubmit)="onSubmit(formData)">
    
        <div><label>First Name:</label><input [(ngModel)]="user.firstName" type="text" placeholder="firstName" name="firstName" required/></div>
        <div><label>Last Name:</label><input [(ngModel)]="user.lastName" type="text" placeholder="lastName" name="lastName" required/></div>
        <div><label>Email:</label><input [(ngModel)]="user.userEmail" type="text" placeholder="userEmail" name="userEmail" required/></div>
        <div><label>Create password:</label><input [(ngModel)]="user.password" type="password" placeholder="6 or more characters" name="userPassword" required/></div>

        <div class="button-wrapper">
            <button class="ui button" type="submit">Save</button>
        </div>
    </form>
</div>
