
<app-header></app-header>


<nav>

  <!--
  <a routerLink="/crisis-center" routerLinkActive="active">Crisis Center</a>
  <a routerLink="/superheroes" routerLinkActive="active">Heroes</a>
  -->

<!--
  <a routerLink="/admin" routerLinkActive="active">Admin</a>
-->
  

<br>
  
  
<a routerLink="/login" routerLinkActive="active">Route to Login</a>

<br>

<a routerLink="/test" routerLinkActive="active">Test link</a>


  <!--
  <a [routerLink]="[{ outlets: { popup: ['compose'] } }]">Contact</a>
  -->

</nav>

<!--
<div [@routeAnimation]="getAnimationData(routerOutlet)">
  <router-outlet #routerOutlet="outlet"></router-outlet>
</div>


<router-outlet name="popup"></router-outlet>
-->


<router-outlet></router-outlet>