
label {
    width: 180px;
}

input {
  width: 64%;
}
  
.component-wrapper {
    width: 460px;
}

#msg-cont {
  display: flex;
  justify-content: center;
}

.msg-container-s {
  margin-top: 1em;
  border-radius: 4px;
  padding: 1em;
  color: green;
  border: 1px solid green;
}

.msg-container-e {
  margin-top: 1em;
  border-radius: 4px;
  padding: 1em;
  color: red;
  border: 1px solid red;
}
