<div class="component-wrapper">
<h2>My Profile</h2>

<form class="ui form" #formData="ngForm" (ngSubmit)="onSubmit(formData)">
    <div>
        <label>First Name</label>
        <input [(ngModel)]="user.firstName" type="text" name="firstName" placeholder="First Name">
    </div>

    <div>
        <label>Last Name</label>
        <input [(ngModel)]="user.lastName" type="text" name="lastName" placeholder="Last Name">
    </div>

    <div>
        <label>Email:</label>
        <input [(ngModel)]="user.email" type="text" placeholder="userEmail" name="email"/>
    </div>

    <div class="button-wrapper">
    <button class="ui button" (click)="this.authService.sendPasswordResetLink(userEmail)">Reset Password</button>
    <button class="ui button" type="submit">Update</button>
    <button class="ui button" (click)="deleteUserAccount()">Delete Account</button>
    </div>

    <div id="msg-cont"><p id="msg"></p></div>

</form>
</div>

