<div class="component-wrapper">

    <h2>My Card</h2>

    <div *ngIf="card">

        <div class="button-wrapper btn-group">
            <button id="editBtn" class="toggleBtnShow" (click)="editCard()">Edit</button>
            <button id="updateBtn" class="toggleBtnHide" (click)="updateCard()">Update</button>
            <button id="deleteBtn" class="toggleBtnHide" (click)="deleteCard()">Delete</button>
        </div>

        <div class="button-wrapper">
            <button class="ui button backToList" routerLink="/cardlist" routerLinkActive="active">Back to List</button>
        </div>

        <form id="thisForm" class="no_edit">
            <img *ngIf="card.cardImage" src="{{card.cardImage}}" width= 240px; alt="" name="cardImage">
            <div><label>firstName:</label><input [(ngModel)]="card.firstName" placeholder="firstName" type="text" name="firstName"/></div>
            <div><label>lastName:</label><input [(ngModel)]="card.lastName" placeholder="lastName" type="text" name="lastName"/></div>
            <div><label>title:</label><input [(ngModel)]="card.title" placeholder="title" type="text" name="title"/></div>
            <div><label>organizationName:</label><input [(ngModel)]="card.organizationName" placeholder="organizationName" type="text" name="organizationName"/></div>
            <div><label>phone:</label><input [(ngModel)]="card.phone" placeholder="phone" type="text" name="phone"/></div>
            <div><label>fax:</label><input [(ngModel)]="card.fax" placeholder="fax" type="text" name="fax"/></div>
            <div><label>email:</label><input [(ngModel)]="card.email" placeholder="email" type="text" name="email"/></div>
            <div><label>website:</label><input [(ngModel)]="card.website" placeholder="website" type="text" name="website"/></div>
            <div><label>additionalInfo:</label><textarea [(ngModel)]="card.additionalInfo" placeholder="additionalInfo" type="text" name="additionalInfo"></textarea></div>
        </form>        

    </div>

</div>
