form {
    margin: 1em 0;
    padding: 0.5em;
}

label {
    width: 20%;
    min-width: 184px;
    line-height: 36px;
}

input, textarea {
    width: 80%;
}

#thisForm {
    position:relative;
}

.no_edit::after {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    content:'';
}

.toggleBtnHide {
    display:none;
}

.toggleBtnShow {
    display: block;
}

button.backToList {
    width: 120px;
    justify-content: center;
}

.component-wrapper > div {
    flex-direction: column;
}

.btn-group > button {
    padding: 0.3em 1.2em;
}

#cardImg {
    
    width: 200px;
    height: 140px;
}

