<div class="component-wrapper">

    <h2>My Card</h2>

    <div *ngIf="card">

        <button (click)="editCard(card)">Edit Info</button>

        <h2>{{card.displayName | uppercase}} Details</h2>

<form>
        <div><span>id: </span>{{card.id}}</div>

        <div>
            <label>displayName:
                <input [(ngModel)]="card.displayName" placeholder="displayName" type="text" name="displayName"/>
            </label>
        </div>


        <div><label>firstName:<input [(ngModel)]="card.firstName" placeholder="firstName" type="text" name="firstName"/></label></div>
        <div><label>lastName:<input [(ngModel)]="card.lastName" placeholder="lastName" type="text" name="lastName"/></label></div>
        <div><label>organizationName:<input [(ngModel)]="card.organizationName" placeholder="organizationName" type="text" name="organizationName"/></label></div>
        <div><label>phone:<input [(ngModel)]="card.phone" placeholder="phone" type="text" name="phone"/></label></div>
        <div><label>fax:<input [(ngModel)]="card.fax" placeholder="fax" type="text" name="fax"/></label></div>
        <div><label>email:<input [(ngModel)]="card.email" placeholder="email" type="text" name="email"/></label></div>
        <div><label>cardImage:<input [(ngModel)]="card.cardImage" placeholder="cardImage" type="text" name="cardImage"/></label></div>

        <!-- do not actually display this -->
        <div><label>userId:<input [(ngModel)]="card.userId" placeholder="userId" type="text" name="userId"/></label></div>
</form>        


    </div>


    <button>Back to List</button>

</div>


<!--
    displayName: string;
    cardId: string;
    firstName: string;
    lastName: string;
    organizationName: string;
    phone: string;
    fax: string;
    email: string;
    cardImage: string;
    userId: string;
-->



<!--
<div *ngIf="card$ | async as card">
    <div><label>Display Name: </label>{{ card.displayName }}</div>
    <div><label>Organization Name: </label>{{ card.organizationName }}</div>
    <div><label>Email: </label><input [(ngModel)]="card.email" placeholder="Email"/></div>
        
    <div>
        <button (click)="gotoCards(card)">Back To List</button> 
        <button>Update Card</button>
    </div>
</div>
-->
<!-- passing curr selected card for ux -->



<!--

    using <input> will allow for user updating

-->