<p>new-card works!</p>

<button class="btn" routerLink="/webcam" routerLinkActive="active">Pic icon</button>

<!-- <button class="btn btn-primary" routerLink="/login" routerLinkActive="active" *ngIf="!userSignedIn()">Log In</button> -->


<form class="" #formData="ngForm" (ngSubmit)="onSubmit(formData)">
    <!-- <input type="text" placeholder="Card display name" [(ngModel)]="card.displayName" name="displayName"/> -->

    <div><label>displayName:<input [(ngModel)]="card.displayName" placeholder="displayName" name="displayName"/></label></div>
    <div><label>firstName:<input [(ngModel)]="card.firstName" placeholder="firstName" name="firstName"/></label></div>
    <div><label>lastName:<input [(ngModel)]="card.lastName" placeholder="lastName" name="lastName"/></label></div>
    <div><label>organizationName:<input [(ngModel)]="card.organizationName" placeholder="organizationName" name="organizationName"/></label></div>
    <div><label>phone:<input [(ngModel)]="card.phone" placeholder="phone" name="phone"/></label></div>
    <div><label>fax:<input [(ngModel)]="card.fax" placeholder="fax" name="fax"/></label></div>
    <div><label>email:<input [(ngModel)]="card.email" placeholder="email" name="email"/></label></div>
    <div><label>additionalInfo:<input [(ngModel)]="card.additionalInfo" placeholder="additionalInfo" name="additionalInfo"/></label></div>

    <div><label>cardImage:<input [(ngModel)]="card.cardImage" placeholder="cardImage" name="cardImage"/></label></div>

    <button class="btn" type="submit">Save Card</button>
</form>



<!--


form #formData="ngForm" (ngSubmit)="onSubmit(formData)"
button type submit

  onSubmit(formData) {
    if (formData.valid) {
      this.authService.login(
        formData.value.email,
        formData.value.password
      );
    }
  }

<button class="btn" (click)="save()">Save Card</button>

    <h2>My Card</h2>>

<div *ngIf="card">

    <button (click)="editCard(card)">Edit Info</button>

    <h2>{{card.displayName | uppercase}} Details</h2>
    <div><span>id: </span>{{card.cardId}}</div>

    <div><label>displayName:<input [(ngModel)]="card.displayName" placeholder="displayName"/></label></div>
    <div><label>firstName:<input [(ngModel)]="card.firstName" placeholder="firstName"/></label></div>
    <div><label>lastName:<input [(ngModel)]="card.lastName" placeholder="lastName"/></label></div>
    <div><label>organizationName:<input [(ngModel)]="card.organizationName" placeholder="organizationName"/></label></div>
    <div><label>phone:<input [(ngModel)]="card.phone" placeholder="phone"/></label></div>
    <div><label>fax:<input [(ngModel)]="card.fax" placeholder="fax"/></label></div>
    <div><label>email:<input [(ngModel)]="card.email" placeholder="email"/></label></div>
    <div><label>cardImage:<input [(ngModel)]="card.cardImage" placeholder="cardImage"/></label></div>

     do not actually display this -->
<!--    
    <div><label>userId:<input [(ngModel)]="card.userId" placeholder="userId"/></label></div>
    

</div>

<button>Back to List</button>
-->

<!--
<form class="ui form">
        <input type="text" placeholder="Enter new task" required [(ngModel)]="todoItem.name" name="name">
        <button class="btn" (click)="save()"><i class="plus icon"></i></button>
</form>
-->
