
form {
    margin: 1em 0;
    padding: 0.5em;
}

label {
    width: 20%;
    min-width: 184px;
    line-height: 36px;
}

input, textarea {
    width: 80%;
}

.webcam-btn {
      margin-top: 1.2em;
  }
  
.cancel-btn {
    height: 36px;
}

#cardImg {
    margin-left: 2em;
    width: 200px;
    height: 140px;
}