form > div,
input,
label,
.component-wrapper,
.button-wrapper {
    display: flex;
}

.component-wrapper {
    position: relative;
    flex-direction: column;
    width: 90%;
    border: 1px solid #999;
    border-radius: 4px;
    margin: 2em auto;
    padding: 0.5em 0.5em 1em 0.5em;
}

form {
    margin: 1em 0;
    padding: 0.5em;
}

form > div {
    position: relative;
    margin: 0.5em 0;
}

textarea {
    resize: none;
}

label {
    width: 20%;
    min-width: 184px;
    line-height: 36px;
}

input, textarea {
    width: 80%;
}

textarea {
    height: 156px;
}

    .button-wrapper {
    justify-content: space-between
  }

  .webcam-btn {
      margin-top: 1.2em;
  }
  
.cancel-btn {
    height: 36px;
}

  /*


*/
  
  


/*

this is from the todo app

form {
    display: flex;
    position: relative;
    justify-content: space-between;
}

input, button {
    display: flex;
}

.btn {
    display:flex;
    background-color: #21BA45;
    color: #fff;
    font-size:1em;
    width: 40px;
    justify-content: center;
    border-radius: 4px;
    margin-left: 0.5em;
}

.ui.form { 
    margin: 0.5em;
}

i.icon {
    display:flex;
    margin:0;
    width: 1em;

    justify-content:center;
}

i.icon.plus:before {
    display:flex;
}

*/