* {
  box-sizing: border-box;
}

body {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1em;
}

form > div {
  display: flex;
  justify-content: center;
  margin: 0.5em 0;
}

label {
  display: flex;
}

button,
input[type=text],
input[type=email],
input[type=password],
textarea {
  display: flex;
  font-size: 18px;
  padding: 0.3em 0.5em;
  border: 1px solid #999;
  border-radius: 4px;
}

button {
  display: flex;
  background-color: #2B5881;
  outline: none;
  color: #eee;
  cursor: pointer;
  margin: 0 0.5em;
}

button:hover {
  background-color: #1E3E5A
}

button:active{
  background-color: #162C41;
}

textarea {
  resize: none;
  width: 100%;
  height: 156px;
}

ul {
  display: flex;
  list-style: none;
}

li {
  display: flex;
}

h2 {
  display: flex;
  width: 90%;
  content: flex-start;
  margin: 1em auto;
}

input {
  display: flex;
}

a {
  text-decoration: none;
}

.component-wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 2em auto;
  width: 90%;
  border: 1px solid #999;
  border-radius: 4px;
  padding: 0.5em 0.5em 1em 0.5em;
}

.component-wrapper > div {
  display: flex;
  width: 90%;
  margin: 1em auto 0 auto;
  justify-content: flex-end;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
}

