
.button-wrapper {
    margin: 1em 0;
}
  
body {
    background-color: #F0F0F0;
}
#app {
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}
#video {
    background-color: #000000;
}
#canvas {
    display: none;
}
li {
    display: inline;
    padding: 5px;
}

.wrapper {
    position: relative;
    width: 640px;
    height: 480px;
    margin: auto;
}

#guides {
    display:block;
    position:absolute;
    width:320px;
    height:190px;
    outline:6px dashed rgba(255,255,255,0.6);
    left:160px;
    top:140px;
}



.thisone {
    outline:5px solid red;
}