<div id="app" class="component-wrapper">
  <div class="button-wrapper">
    <button id="snap" (click)="capture()" autofocus>Snap Photo</button> 
    <button (click)="cancel()">Cancel</button>
  </div>

  <div class="wrapper">
    <video #video id="video" width="640" height="480" autoplay></video>
    <div id="guides"></div>
  </div>

  <canvas #canvas id="canvas" width="640" height="480"></canvas>
  <ul>
    <li *ngFor="let c of captures">
      <img src="{{ c }}" height="50"/>
    </li>
  </ul>
</div>

<img id="here"/>

<!-- autofocus will only work first time & on page refresh -->
