
  .component-wrapper {
    display: flex;
    margin: 2em auto;
    flex-direction: column;
    position: relative;
    width: 90%;
    border: 1px solid #999;
    border-radius: 4px;
    padding: 0.5em 0.5em 1em 0.5em;
  }
  
  .button-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
  }
  
 

body {
    background-color: #F0F0F0;
}
#app {
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}
#video {
    background-color: #000000;
}
#canvas {
    display: none;
}
li {
    display: inline;
    padding: 5px;
}

.wrapper {
    position: relative;
    width: 640px;
    height: 480px;
    margin: auto;
}

#guides {
    display:block;
    position:absolute;
    width:320px;
    height:190px;
    outline:6px dashed rgba(255,255,255,0.6);
    left:160px;
    top:140px;
}

